 <!DOCTYPE html>
<html>
<head>
    <title>Flight Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script>
      $(document).ready(function() {
          // Set default visibility of returnFlight
          if ($("#id_flightType").val() != 'Return') {
              $("#returnFlight").hide();
          }
  
          // Change visibility based on selection
          $('#id_flightType').change(function() {
              if ($(this).val() == 'Return') {
                  $('#returnFlight').show();
              } else {
                  $('#returnFlight').hide();
              }
          });
  
          // Set minimum date for departureDate1 to be today
          $('#id_departureDate1').datepicker({
              dateFormat: 'yy-mm-dd',
              minDate: 0, // Minimum date starts from today
              onSelect: function(selectedDate) {
                  $('#id_departureDate2').datepicker('option', 'minDate', selectedDate);
              }
          });
  
          // Set minimum date for departureDate2 to be today
          $('#id_departureDate2').datepicker({
              dateFormat: 'yy-mm-dd',
              minDate: 0, // Minimum date starts from today
          });
  
          // Validate destination airport
          $('#id_originLocationCode, #id_destinationLocationCode').change(function() {
              var origin = $('#id_originLocationCode').val();
              var destination = $('#id_destinationLocationCode').val();
  
              if (origin && destination && origin == destination) {
                  alert('You cannot select the same airport for departure and arrival.');
                  $('#id_destinationLocationCode').val('');
                  $('#id_destinationLocationCode').trigger('change');
              }
          });
  
          // autocomplete functions
          function autocomplete(input_id) {
              $(input_id).autocomplete({
                  source: function(request, response) {
                      $.getJSON("/autocomplete/", {
                          q: request.term
                      }, response);
                  },
                  minLength: 2,
              });
          }
  
          autocomplete('#id_originLocationCode');
          autocomplete('#id_destinationLocationCode');
      });
  </script>
  
  
</head>
<body>
    <h2>Flight Search</h2>
    <form action="/search-flight/" method="post">
        {% csrf_token %}
        <div>
            <p>{{ form.flightType.label_tag }} {{ form.flightType }}</p>
            <p>{{ form.originLocationCode.label_tag }} {{ form.originLocationCode }}</p>
            <p>{{ form.destinationLocationCode.label_tag }} {{ form.destinationLocationCode }}</p>
            <p>{{ form.departureDate1.label_tag }} {{ form.departureDate1 }}</p>
            <div id="returnFlight">
                <p>{{ form.departureDate2.label_tag }} {{ form.departureDate2 }}</p>
            </div>
            <p>{{ form.cabinType.label_tag }} {{ form.cabinType }}</p>
            <p>{{ form.numAdults.label_tag }} {{ form.numAdults }}</p>
            <p>{{ form.numChildren.label_tag }} {{ form.numChildren }}</p>
            <p>{{ form.currencyCode.label_tag }} {{ form.currencyCode }}</p>
            <p><input type="submit" value="Submit"></p>
        </div>
    </form>
</body>
</html>
