<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        .user-image {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    {% if user and user.username %}
        <h1>Welcome {{ user.username }}!</h1>
        <h1>{{ user.user_role }}</h1>
        <img src="{{ user.image.url }}" alt="{{ user.username }}'s image" class="user-image"> <br><br>

        <a href="{% url 'search_form' %}">Search Flights</a><br><br>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <h1>Welcome, Guest!</h1>
        <a href="{% url 'search_form' %}">Search Flights</a><br><br>
        <p>Please <a href="{% url 'login' %}">login</a> to access your account.</p>
    {% endif %}
</body>
</html>
